COMPOSE_PROJECT_NAME=patitomedi
CONTAINER_PREFIX=patitomedi

NGINX_PORT=80
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001

USERS_DB_NAME=users
USERS_DB_USER=users_app
USERS_DB_PASSWORD=users_pass
USERS_DB_PORT=5433

APPOINTMENTS_DB_NAME=appointments
APPOINTMENTS_DB_USER=appointments_app
APPOINTMENTS_DB_PASSWORD=appointments_pass
APPOINTMENTS_DB_PORT=5434

PAYMENTS_DB_NAME=payments
PAYMENTS_DB_USER=payments_app
PAYMENTS_DB_PASSWORD=payments_pass
PAYMENTS_DB_PORT=5435

MEDICAL_RECORDS_DB_NAME=medical_records
MONGO_PORT=27017

REDIS_PORT=6379

KAFKA_PORT=9092
KAFKA_AUTO_CREATE_TOPICS=true

COTURN_PORT=3478
COTURN_MIN_PORT=49160
COTURN_MAX_PORT=49200
COTURN_REALM=patitomedi.local
COTURN_USER=patito
COTURN_PASSWORD=patito_turn_secret

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
